* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 0;
    margin-top: 0;
}

section:first-child {
    padding-top: 0;
}

body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
}

.App {
    width: 100%;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

section {
    min-height: 100vh; 
    scroll-snap-align: start; 
    scroll-margin-top: 0; 
}